<div [ngSwitch]="input.widget">
    <div *ngSwitchCase="'text'">
        <ngx-dynamic-widget-extension-type-text [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-text>
    </div>
    <div *ngSwitchCase="'email'">
        <ngx-dynamic-widget-extension-type-text [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-text>
    </div>
    <div *ngSwitchCase="'password'">
        <ngx-dynamic-widget-extension-type-text [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-text>
    </div>
    <div *ngSwitchCase="'dropdown'">
        <ngx-dynamic-widget-extension-type-dropdown [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-dropdown>
    </div>
    <div *ngSwitchCase="'checkbox'">
        <ngx-dynamic-widget-extension-type-checkbox [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-checkbox>
    </div>
    <div *ngSwitchCase="'textarea'">
        <ngx-dynamic-widget-extension-type-textarea [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-textarea>
    </div>
    <div *ngSwitchCase="'date'">
        <ngx-dynamic-widget-extension-type-text [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-text>
    </div>
    <div *ngSwitchCase="'money'">
        <ngx-dynamic-widget-extension-type-money [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-money>
    </div>
    <div *ngSwitchCase="'choice'">
        <ngx-dynamic-widget-extension-type-choice [form]="form" [input]="input" *ngIf="input.type == 'string'"></ngx-dynamic-widget-extension-type-choice>
        <ngx-dynamic-widget-extension-type-choice-multiple [form]="form" [input]="input" *ngIf="input.type == 'array'"></ngx-dynamic-widget-extension-type-choice-multiple>
    </div>
    <div *ngSwitchCase="'select2entity'">
        <ngx-dynamic-widget-extension-type-select2entity [form]="form" [input]="input"></ngx-dynamic-widget-extension-type-select2entity>
    </div>
</div>