<div [ngSwitch]="widget.widget">
    <div *ngSwitchCase="'form'">
        <ngx-dynamic-widget-form [data]="widget"></ngx-dynamic-widget-form>
    </div>
    <div *ngSwitchCase="'title'">
        <ngx-dynamic-widget-title [data]="widget"></ngx-dynamic-widget-title>
    </div>
    <div *ngSwitchCase="'sub_title'">
        <ngx-dynamic-widget-sub-title [data]="widget"></ngx-dynamic-widget-sub-title>
    </div>
    <div *ngSwitchCase="'card'">
        <ngx-dynamic-widget-card [data]="widget"></ngx-dynamic-widget-card>
    </div>
    <div *ngSwitchCase="'card_action_top'">
        <ngx-dynamic-widget-card-action-top [data]="widget"></ngx-dynamic-widget-card-action-top>
    </div>
    <div *ngSwitchCase="'list_group'">
        <ngx-dynamic-widget-list-group [data]="widget"></ngx-dynamic-widget-list-group>
    </div>
    <div *ngSwitchCase="'list_group_flush'">
        <ngx-dynamic-widget-list-group-flush [data]="widget"></ngx-dynamic-widget-list-group-flush>
    </div>
    <div *ngSwitchCase="'button'">
        <ngx-dynamic-widget-button [data]="widget"></ngx-dynamic-widget-button>
    </div>
</div>