<div [formGroup]="form" class="form-group mb-2">
    <ngx-dynamic-widget-resources-ui-label [input]="input"></ngx-dynamic-widget-resources-ui-label>
    <select [id]="input.key" class="form-control" [formControlName]="input.key" (click)="onClick()">
        <option value="">{{'label.select'|translate}}</option>
        <option *ngFor="let row of input.choices" [value]="row.id">{{row.label}}</option>
    </select>
    <ngx-dynamic-widget-resources-ui-help [input]="input"></ngx-dynamic-widget-resources-ui-help>
</div>