<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom" *ngFor="let item of data.items; index as i">
        <div>
            <h3 class="h6 mb-1">{{item.title}}</h3>
            <p class="small pe-4">{{item.sub_title}}</p>
        </div>
        <div>
            <a [routerLink]="item.uri_action.path" class="btn btn-link" *ngIf="item.uri_action && item.uri_action.action_type == 'type_action_ancla'">
                <mat-icon *ngIf="item.uri_action.icon">{{item.uri_action.icon}}</mat-icon>
                <span *ngIf="item.uri_action.title">{{item.uri_action.title}}</span>
            </a>

            <!-- <a [routerLink]="[item.uri_action.path,item.uri_action.arguments]" class="btn btn-link" *ngIf="item.uri_action && item.uri_action.action_type == 'type_action_ancla' && item.uri_action.arguments">
                <mat-icon *ngIf="item.uri_action.icon">{{item.uri_action.icon}}</mat-icon>
                <span *ngIf="item.uri_action.title">{{item.uri_action.title}}</span>
            </a> -->
        </div>
    </li>
</ul>