<div [formGroup]="form" class="form-group mb-2">
    <ngx-dynamic-widget-resources-ui-label [input]="input"></ngx-dynamic-widget-resources-ui-label>
    
    <div class="input-group" *ngIf="input.attr?.suffix">
        <input currencyMask type="tel" class="form-control" autocomplete="off" [formControlName]="input.key" [id]="input.key"/>
        <div class="input-group-prepend">
            <div class="input-group-text">{{ input.attr.suffix }}</div>
        </div>
    </div>

    <input currencyMask type="tel" class="form-control" autocomplete="off" *ngIf="!input.attr?.suffix" [formControlName]="input.key" [id]="input.key"/>
    
    <ngx-dynamic-widget-resources-ui-help [input]="input"></ngx-dynamic-widget-resources-ui-help>
</div>